@import "variables.css";
@import "font-face-rules.css";

body {
  font-family: var(--typography-font-family-primary);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.app {
  font-family: var(--typography-font-family-primary);
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.main-canvas-container {
  /*   background: var(--colors-background-main);
  background: var(--colors-background-gradient); */
  background-image: var(--colors-background-main);
  display: flex;
  height: 100%;
  width: 100%;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 1vw;
}

.front-canvas-container,
.side-canvas-container {
  background-color: var(--colors-background-primary);
  height: 21vw;
  width: 28vw;
  margin-bottom: 1vw;
  display: block;
}
